.cart-everything {
  font-family: Arial, sans-serif;
  // outline: 1px solid red;
  // height: 780px;
}
.cart-title {
  // font-family: Arial, sans-serif;
  font-size: 1em;
  // font-weight: bold;
  color:#182030;
  position:relative;
  left: 1em; //this is causing page overflow
  top: 8.25em;
  display: flex;
  // max-width: 50%;
  // outline: 1px solid red;
}
.cart-product-names {
  color:#182030;
  position:relative;
  left: 4.5em;
  top: 5.75em;
  font-weight: bold;
  display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-product-name2 {
  position:relative;
  left: 17.5em;
}
.cart-product-name3 {
  position:relative;
  left: 38.75em;
}
.cart-product-name4 {
  position:relative;
  left: 58em;
}
.cart-product-images {
  position:relative;
  left: -1.5em;
  top: 1.5em;
  // margin-right: 1em;
}
.cart-prev-btn {
  position:relative;
  left: 2.75em; //this is causing page overflow
  top: -1.5em;
}
.cart-product-img1 {
  position:relative;
  left: 3.75em; //this is causing page overflow
  top: 4.5em;
}
.cart-product-img2 {
  position:relative;
  left: 6.5em; //this is causing page overflow
  top: 4.5em;
}
.cart-product-img3 {
  position:relative;
  left: 9.25em; //this is causing page overflow
  top: 4.5em;
}
.cart-product-img4 {
  position:relative;
  left: 11.75em; //this is causing page overflow
  top: 4.5em;
}
.cart-next-btn {
  position:relative;
  left: 16em; //this is causing page overflow
  top: -1.5em;
}
.cart-product-descriptions {
  color:#182030;
  position:relative;
  left: 4.5em;
  top: 4.5em;
  display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-product-description2 {
  position:relative;
  left: 14em;
}
.cart-product-description3 {
  position:relative;
  left: 29em;
}
.cart-product-description4 {
  position:relative;
  left: 41.25em;
}
.cart-product-buttons{
  // color:#182030;
  position:relative;
  left: 4.5em;
  top: 3.75em;
  display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-product-buttons button{
  background-color: #213F42;
  color:#9AB1AB;
  border:none;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.25em;
  position:relative;
  left: -0.5em;
  // top: 5.75em;
  // display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1em;
}
.cart-product-buttons button:hover{
  background-color: #182030;
  color:#9AB1AB;
  font-size: 1em;
}
.cart-product-buttons2 {
  position:relative;
  left:11.5em;
}
.cart-product-buttons3 {
  position:relative;
  left:22.75em;
}
.cart-product-buttons4 {
  position:relative;
  left:34em;
}

.cart-bottom {
  color:#182030;
  position:relative;
  left: 4.5em;
  top: 4.25em;
  display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
  width: 91%;
  border-top: 1px solid #182030;
}
.cart-bottom-button1 {
  // color:#182030;
  position:relative;
  left: -20.5em;
  top: 3.75em;
  // display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-bottom-button1 button{
  background-color: #213F42;
  color:#9AB1AB;
  border:none;
  padding: 0.5em 1em 0.5em 1em;
  // margin: 0.5em;
  border-radius: 0.25em;
  position:relative;
  // left: -0.5em;
  // top: 5.75em;
  // display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1em;
}
.cart-bottom-button1 button:hover{
  background-color: #182030;
  color:#9AB1AB;
  font-size: 1em;
}
.cart-bottom-button2 {
  // color:#182030;
  position:relative;
  left: -20.5em;
  top: 3.75em;
  // display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-bottom-button2 button{
  background-color: #75CDD9;
  color:#213F42;
  border-color:#213F42;
  padding: 0.5em 1em 0.5em 1em;
  // margin: 0.5em;
  border-radius: 0.25em;
  position:relative;
  left: -7.25em;
  top: 2.75em;
  // display: flex;
  // margin-right: 1em;
  // font-family: Arial, sans-serif;
  font-size: 1.125em;
}
.cart-bottom-button2 button:hover{
  background-color: #182030;
  color:#9AB1AB;
  // font-size: 1em;
}


// Footer below

.cart-Footer {
  position: relative;
  top: 14.5em;
  width: 100%;
  height: 5em;
  background-color: #182030;
  display: flex;
}

// .footer-logo {

//   // padding-bottom: 1em;
//   // box-shadow: 0px 1px 15px black;
//   // z-index: 1;
//   position: relative;
//   // top:1em;
//   // bottom: 100%;
//   // width:100%;
//   // clear: both;
//     // position: relative;
//     // height: 200px;
//     // margin-top: -200px;
//   // outline: 10px solid red;
//   // float: left;
// }
// .footer-s-right {
//   // float: right;
//   position: relative;
//   top:1em;
// }

.cart-terms-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  text-decoration-style: none;
  position:relative;
  right: -98.5em;
  top:1.75em;
  // margin-right: 6.2em;
  // float:left;
  // outline: 100px solid red;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



.cart-privacy-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  // font-weight: bold;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  position:relative;
  right: -102.75em;
  top:0.5em;
  // margin-right: 1em;
  // outline: 100px solid red;
  // float:right;
}


// Footer above