// .cart-everything {
//   // outline: 1px solid red;
//   // height: 780px;
// }
.cart-title {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 1em; //this is causing page overflow
  top: -1.5em;
  display: flex;
  max-width: 50%;
  // outline: 1px solid red;
}
.sign-in-head2 {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 1em; //this is causing page overflow
  top: -1.5em;
  margin-bottom: -6.5em;
  // outline: 1px solid red;
}
.sign-up-head2 {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 1em; //this is causing page overflow
  top: -1.5em;
  margin-bottom: -6.5em;
  // outline: 1px solid red;
}

.account-section {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 1em;
  top: -3em;
  display: flex;
  // width: 50em;
  max-width: 50%;
  // outline: 1px solid red;
}
.sign-up-section {
  margin-left:4em;
  position:relative;
  top:0em;
  font-size: 1.125em;
  // outline: 1px solid red;
}
.authdetails-section {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 1em; //this is causing page overflow
  // top: 10em;
  // bottom: 0em;
  max-width: 50%;
  // outline: 1px solid red;
}