// html, body {
//   height: 100%;
//   width: 100%; 
//   margin: 0;
// }
.faq-title {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  // font-weight: bold;
  display: flex;
  color:#182030;
  position:relative;
  // text-align: center;
  left: 0.75em; //this is causing page overflow
  top: 6em;
  // line-height: 1.5;
  // outline: 1px solid red;
  // outline: 1px solid red;
  // width: 1000em;
  // outline: 10px solid red;
}
.faq-body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  // font-weight: bold;
  color:#182030;
  position:relative;
  left: 1em; //this is causing page overflow
  top: 6.5em;
  inline-size: 20em;
  line-height: 2;
  width: 48em;
  overflow-wrap: break-word;
  outline: 1px solid red;
}
// .faq-q1-question  {
//   position: relative;
//   top: 1em;
// }
.faq-q1-question h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0em 0em -1em 0em;
  // outline: 1px solid red;
}
.faq-q1-answer {
  position: relative;
  left: 1em;
  margin: 0em 0em -1em 0em;
  // outline: 1px solid red;
}
.faq-q2-question h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0em 0em -1em 0em;
  // outline: 1px solid red;
}
.faq-q2-answer {
  position: relative;
  left: 1em;
  display: flex;
  margin: 0em 0em -2em 0em;
  // outline: 1px solid red;
}
.faq-q2-answer-link {
  margin:0em 0.5em 0em 0.5em;
  // outline: 1px solid red;
}
.faq-q2-answer-link a:link, .faq-q2-answer-link a:visited, .faq-q2-answer-link a:hover, .faq-q2-answer-link a:active {
  color: #182030;
  // margin: 0em 0em -1em 0em;
  text-decoration: underline;
}
.faq-q3-question h2 {
  font-size: 1em;
  font-weight: bold;
  // outline: 1px solid red;
}
.faq-q3-answer {
  position: relative;
  left: 1em;
  margin: -1em 0em 0em 0em;
  // outline: 1px solid red;
}
.faq-btn {
  position: relative;
  left: 2em;
}
.faq-btn button {
  background-color: #75CDD9;
  border-color: #213f42;
  border-radius: 0.25em;
  color: #213f42;
  font-size: 1.25em;
  font-weight: bold;
  // line-height: 0em;
  padding: 0.5em 2.25em 0.5em 2.25em;
  position: relative;
  // top: em;
}
.faq-btn button:hover {
  background-color: #ffffff;
}
// .faq-slogan {
//   font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
//   font-size: 2.5em;
//   font-weight: bold;
//   color:#D5CB35;
//   position:relative;
//   inline-size: 16em;
//   overflow-wrap: break-word;
// }

// .faq-everything {
//   display: flex;
//   max-height: 43em;
//   // max-height: 100%;
//   // outline: 10px solid red;
// }

.faq-bg {
    background-image: url('../../images/Sysflo_DesktopFAQ_bg1.png');
    width:1145px;
    height:954px;
    position:relative;
    top:-10.5em;
    left: 25em;
    background-size: 95%;
    background-repeat: no-repeat;
    height: 90vh;
    outline: 1px solid red;
    z-index: -1;
}

// .faq-btns {
  // outline: 1px solid red;
// }


// .faq-premade-btn1 button {
//   border: none;
//   font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
//   font-size: 2.25em;
//   font-weight: bold;
//   color:#FF8B2C;
//   background-color: #420B3B;
//   padding: 0.75em 1em 0.25em 1em;
//   // padding-bottom: -1em;
//   // margin: -1em;
//   line-height: 1em;
//   position: relative;
//   top: 11.5em;
//   left: -37.65em;
//   border-radius: 2em;
//   // outline: 1px solid red;
// }
// .faq-premade-btn1 button:hover {
//   background-color: #FFFCF5;
//   color: #420B3B;
// }


// Footer below

.faq-footer {
  position: relative;
  top: -22.5em;
  width: 100%;
  height: 4em;
  background-color: #182030;
  display: flex;
  // z-index: -4;
}

.faq-footer-logo {
  // padding-bottom: 1em;
  // box-shadow: 0px 1px 15px black;
  // z-index: 1;
  position: relative;
  top:0.25em;
  // bottom: 100%;
  // width:100%;
  // clear: both;
    // position: relative;
    // height: 200px;
    // margin-top: -200px;
  // outline: 10px solid red;
  // float: left;
}
// .contact-footer-s-right {
//   // float: right;
//   position: relative;
//   top:1em;
// }
// .faq-footer-s-right {
//   color: red;
// }
.faq-terms-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  text-decoration-style: none;
  position:relative;
  right: -74.75em;
  top:1.1em;
    // z-index: 4;
  // margin-right: 6.2em;
  // float:left;
  // outline: 100px solid red;
}
.faq-terms-link a:hover, .faq-terms-link a:visited, .faq-terms-link a:link, .faq-terms-link a:active {
    text-decoration: none;
}

.faq-privacy-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  // font-weight: bold;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  position:relative;
  right: -79.25em;
  top:-0.25em;
  // margin-right: 1em;
  // outline: 100px solid red;
  // float:right;
}
.faq-privacy-link a:link, .faq-privacy-link a:visited, .faq-privacy-link a:hover, .faq-privacy-link a:active {
  text-decoration: none;
}


// Footer above