.sign-in-inputs input {
  width: 100%;
  padding: 0.5em 0.1em 0em 1em;
  margin: 0.5em 0em 0em 0em;
  box-sizing: border-box;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  // line-height: 0em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 0em; //this is causing page overflow
  top: -1.5em;
  // display: flex;
  // max-width: 100%;
  outline: 1px solid #420B3B;
  border-radius: 1em;
  border: none;
}
.sign-in-inputs input::placeholder {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  // line-height: 0em;
  font-weight: bold;
  color:#420B3B;
}
.sign-in-button button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#FFFCF5;
  background-color: #420B3B;
  position:relative;
  left: 0em; //this is causing page overflow
  top: -2.75em;
  // display: flex;
  // max-width: 50%;
  // outline: 1px solid red;
  padding: 0.75em 1.5em 0.25em 1.5em;
  line-height: 1em;
  border-radius: 2em;
}
.sign-in-button button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
}