.forbusinesses-title {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#182030;
  display: flex;
  position:relative;
  left: 1em;
  top: 7.25em;
  max-width: 50%;
  // outline: 1px solid red;
}
.forbusinesses-everything {
  display: flex;
  position: relative;
  top: 7.5em;
  color: #75CDD9;
  // width: 98vw;
  // height: 70vh;
  // outline: 10px solid red;
}
.forbusinesses-body {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #75CDD9;
  // font-family: Arial, sans-serif;
  // font-size: 1.5em;
  // font-weight: bold;
  // color:#420B3B;
  position:relative;
  left: 1em;
  // margin-right: 1em;
  // top: -2em;
  // inline-size: 16em;
  // overflow-wrap: break-word;
  // outline: 1px solid red;
}
.forbusinesses-small-busi {
  color: #75CDD9;
  margin-right: 4em;
}
.forbusinesses-small-busi h2 {
  position: relative;
  top: -15.25em;
  left: 1em;
  color: #75CDD9;
  // font-weight: bold;
}
.forbusinesses-small-busi p {
  position: relative;
  top: -23.5em;
  left: 3em;
  color: #75CDD9;
}

.forbusinesses-large-busi h2 {
  position: relative;
  top: -15.25em;
  left: 1em;
  color: #75CDD9;
  // font-weight: bold;
}
.forbusinesses-large-busi p {
  position: relative;
  top: -23.5em;
  left: 3em;
  width: 12em;
  color: #75CDD9;
}


// Footer below

.forbusinesses-footer {
  position: relative;
  top: 6.75em;
  width: 100%;
  height: 4em;
  background-color: #182030;
  display: flex;
  // z-index: -4;
}

.forbusinesses-footer-logo {
  // padding-bottom: 1em;
  // box-shadow: 0px 1px 15px black;
  // z-index: 1;
  position: relative;
  top:0.5em;
  // bottom: 100%;
  // width:100%;
  // clear: both;
    // position: relative;
    // height: 200px;
    // margin-top: -200px;
  // outline: 10px solid red;
  // float: left;
}
// .contact-footer-s-right {
//   // float: right;
//   position: relative;
//   top:1em;
// }
// .forbusinesses-footer-s-right {
//   color: red;
// }
.forbusinesses-terms-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  text-decoration-style: none;
  position:relative;
  right: -74.75em;
  top:1.1em;
    // z-index: 4;
  // margin-right: 6.2em;
  // float:left;
  // outline: 100px solid red;
}
.forbusinesses-terms-link a:hover, .forbusinesses-terms-link a:visited, .forbusinesses-terms-link a:link, .forbusinesses-terms-link a:active {
    text-decoration: none;
}

.forbusinesses-privacy-link {
  font-family: Arial, sans-serif;
  font-size: 1em;
  // font-weight: bold;
  color:#9AB1AB;
  // padding: 0.5em 2em 0.5em 2em;
  position:relative;
  right: -79.25em;
  top:-0.25em;
  // margin-right: 1em;
  // outline: 100px solid red;
  // float:right;
}
.forbusinesses-privacy-link a:link, .forbusinesses-privacy-link a:visited, .forbusinesses-privacy-link a:hover, .forbusinesses-privacy-link a:active {
  text-decoration: none;
}


// Footer above