.bgHeader {
  background-color: #182030;
//  background-image: url(/images/DirtTexture2_section2.png);
//  background-position: 50%;
  padding-bottom: 0.75em;
  padding-right: 111em;
  // size: -10em;
//  padding:100%;
// margin-top: -5em;
 position:fixed;
//  top:4.5em;
  //left:-1.5em;
//  overflow: none;
  //position: relative;
  //position: 0px 0px 0px 200px;
//  padding-right: 100%;
  //  position:relative;
  //  object-position: 100% -201px;
  //  background-size:cover;
  //display:inline-block;
  box-shadow: 0px 1px 15px black;
  //box-sizing: border-box;
  //flex: 1;
  //width: 1920px;
  z-index: 1;
  // outline: 1px solid red;
}
// .bgHeaderShadow {
//   box-shadow: inset 0px 5px 5px black !important;
// }


.sysflo-logo {
  font-family: Arial, sans-serif;
  // font-weight: ExtraBold;
  margin-left: 0em;
  // padding: 0em;
  // margin-bottom: -3em;
  font-size:2.25em;
  position: relative;
  top:0.4em;
  float: left;
}
.logo-text1:link {
  color: #9AB1AB;
}
.logo-text1:visited {
  color: #9AB1AB;
}
.logo-text1:hover {
  color: #9AB1AB;
}
.logo-text1:active {
  color: #9AB1AB;
}

.sysflo-logo-image {
  margin-left: -0.1em;
  // padding: 0em;
  // margin-bottom: -3em;
  font-size:2.25em;
  position: relative;
  top:0.2em;
}

// .logo-text2 {
//   // margin-left: 1em;
//   // margin-bottom: -3em;
//   font-family: Arial, sans-serif;
//   position: relative;
//   top:0.25em;
//   font-size:2.25em;
// }
// .logo-text2:link {
//   color: #FF8B2C;
// }
// .logo-text2:visited {
//   color: #FF8B2C;
// }
// .logo-text2:hover {
//   color: #FF8B2C;
// }
// .logo-text2:active {
//   color: #FF8B2C;
// }


.bgHeaderLinks {
  //  float:right;
  //  margin: 0em;
  position: fixed;
//  display:inline-block;
  //  right: -250%;
  top: 0.7em;
  //  left: 37em;
  right:-5.25em;
  // right: -34.75em;
  // text-align:right;
  float: right;
  // margin:0px auto 0px auto;
  font-family: Arial, sans-serif;
  font-size: 1.5625em;
  // font-weight: light;
  //  box-shadow: none !important;
  //  text-decoration: none; //this does not work
  //  border-bottom: none;
  //  bottom: -0.1em;
  display: flex;
  // margin-right: em;
}
.bgHeaderLinks a{
  text-decoration: none;
  color:#9AB1AB;
}
.bgHeaderHome {
  margin-right:1em;
//  text-decoration: none !important;
}
// .bgHeaderProducts {
//   margin-right:1em;
// }
.bgHeaderFAQ {
  margin-right:1em;
//  text-decoration: none !important;
}
.bgHeader-for-businesses {
  margin-right:1em;
//  text-decoration: none !important;
}
.bgHeaderCartIcon {
  margin-right:0.3em;
  // position:absolute;
  // top:0.1em;
  // right:12.5em;
  position: relative;
  top: 0.1em;
  color:#9AB1AB;
  display: inline-block;
}
.bgHeaderCart {
  margin-right:1em;
//  display: inline-block;
}
.bgHeaderContact{
  margin-right:1em;
  position:relative;
  top:0.1em;
//  text-decoration: none !important;
}


.header-search-bar input {
  position: fixed;
  background-color: #182030;
  color: #75CDD9;
  font-family: arial;
  top:4em;
  right:0.7em;
  width:96.5%;
  height: 0em;
  padding: 1em 1em 1em 0.5em;
  border: none;
  // margin-top: 8px;
  // margin-right: 16px;
  font-size: 0.75em;
  // outline: 100px solid red;
  border-radius:0.25em;
  // z-index: 2;
}
::-webkit-input-placeholder {
  color:#9AB1AB;
}

::-moz-placeholder {
  color:#9AB1AB;
}

::-ms-placeholder {
  color:#9AB1AB;
}

::placeholder {
  color:#9AB1AB;
}

.header-search-icon {
  margin-top: 1.65em;
  margin-right: 3.75em;
  color: #9AB1AB;
  position: relative;
  right: 2.25em;
  top: -0.25em;
  // z-index: 1;
  // outline: 10px solid red;
}