.bgFooter {
  position: relative;
  top: 10em;
  background-color: #182030;
  display: flex;
}


// #logo-text1 {
//   display:table-cell;
//   // background-color:orange;
//   font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
//   font-weight: ExtraBold;
//   margin-left: 1em;
//   // margin-bottom: -3em;
//   position: relative;
//   left: 1em;
//   top:-0.25em;
//   font-size:1.125em;
//   // float: left;
//   width: 2.5em;
// }
// #logo-text1:link {
//   color: #FFFCF5;
// }
// #logo-text1:visited {
//   color: #FFFCF5;
// }
// #logo-text1:hover {
//   color: #FFFCF5;
// }
// #logo-text1:active {
//   color: #FFFCF5;
// }


.footer-logo {

  // padding-bottom: 1em;
  // box-shadow: 0px 1px 15px black;
  // z-index: 1;
  position: relative;
  top:1em;
  // bottom: 100%;
  // width:100%;
  // clear: both;
    // position: relative;
    // height: 200px;
    // margin-top: -200px;
  outline: 10px solid red;
}
.privacy-link {
  position:relative;
  right: 0em;
  bottom: 0em;
  margin-right: 1em;
  // outline: 100px solid red;
}
.terms-link {
  position:relative;
  right: 0em;
  bottom: 0em;
  margin-right: 6.2em;
  // outline: 100px solid red;
}

